apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: smart-mobility-dashboard-prod
  namespace: openshift-gitops
  labels:
    app.kubernetes.io/name: smart-mobility-dashboard
    environment: production
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/kmotojim/smart-mobility-dashboard-manifests.git
    targetRevision: main
    path: overlays/prod
  destination:
    server: https://kubernetes.default.svc
    namespace: smart-mobility-prod
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
