apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smart-mobility

commonLabels:
  app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - frontend-route.yaml
